header {
    background-color: #2B2A4C;
    padding: 10px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-around;
}
.title {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}